<% setup(:title=>"Direct Messages", :body_id=>"direct_messages", :body_classes=>"direct_messages replyable", :css=>['timeline']) %>
<%= render :partial => "send_direct" %>

<ul class="tabMenu">
  <li><a href="/direct_messages" id="direct_message_inbox">Inbox</a></li>
  <li class="active"><a href="/direct_messages/sent" id="direct_message_sent">Sent</a></li>
</ul>

<div class="tab">

  <h2>Direct Messages You've Sent</h2>

  <ol class="statuses" id="timeline">
    <% @tweets.each do |tweet| %>
      <%= render :partial => "direct", :object=>tweet, :locals=>{:user=>tweet.recipient} %>
    <% end %>
  </ol>
</div>

<%= render :partial => "statuses/sidebar" %>

