<% setup(:title=>"Home", :body_id=>"home", :body_classes=>"account replyable", :css=>['timeline']) %>
<%= render :partial => "statuses/update" %>
<div class="tab">
    <%= render :partial => "statuses/tweets" %>    
</div>
<%= render :partial => "statuses/sidebar" %>
