.beta {
    font-size: .9em;
    background-color: #f9f6ba;
}

#accessibility, #navigation h3, #footer h3 {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

.columns {
    margin-bottom: 15px;
    width: 100%;
}

td.column {
    padding: 0;
    vertical-align: top;
}

#content {
    width: 564px;
    margin-top: 0;
    word-wrap: break-word;
    background: #FFF;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

fieldset th, td {
    padding: 7px 3px;
}

.wrapper {
    padding: 5px 10px 15px;
}

#doingForm {
    margin-bottom: 20px;
}

.bar {
    line-height: 1.9em;
    position: relative;
    padding: 0 10px;
}

.bar h3 {
    font-size: 1.4em;
}

.bar h3 label {
    font-weight: normal;
    color: #000;
    padding-right: 170px;
    letter-spacing: -1px;
}

.bar span {
    font-size: .92em;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
}

#doingForm .info {
    background: #fff;
    padding-top: 3px;
    text-align: center;
}

#doingForm textarea {
    height: 2.5em;
    width: 508px;
    padding: 5px;
    font: 1.15em / 1.1 'Lucida Grande', sans-serif;
    overflow: auto;
    resize: none;
}

div.direct-message-box fieldset {
    width: 548px;
    padding: 10px 90px;
}

a img, form, fieldset {
    border: 0;
}

fieldset {
    margin: 10px 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5 {
    margin: 3px 0 4px;
}

.doing {
    margin-bottom: 10px;
}

.doing {
    font-size: 1.2em;
    line-height: 1.1;
    width: 50%;
}

.get-started-steps {
    font-size: 1.2em;
    line-height: 1.1;
}

.get-started-steps .thumb {
    padding: 10px 5px 8px 5px;
    width: 50px;
    vertical-align: top;
}

.get-started-steps td {
    border-bottom: 1px dashed #d2dada;
    vertical-align: middle;
}

fieldset label {
    white-space: nowrap;
    font-weight: normal;
}

#chars_left_notice {
    color: #ccc;
    font-size: 22pt !important;
}

.numeric {
    font-family: 'Georgia', 'Serif';
}

.status-btn {
    float: right;
    padding: 5px 10px 0 5px;
}

.status-btn input.round-btn {
    width: 115px;
    height: 32px;
    border: 0;
    color: #666;
    font-size: 14px;
    margin-left: 3px;
}

.status-btn input.round-btn:hover {
    width: 115px;
    height: 32px;
    border: 0;
    color: #444;
    font-size: 14px;
    margin-left: 3px;
}

.status-btn input.disabled, .status-btn input.disabled:hover {
    color: #aaa;
    cursor: default;
}

.flatbutton button, .flatbutton input[type=submit], input[type=button].flatbutton {
    background-color: #E6E6E6;
    border: 1px solid #ccc;
    padding-top: 1px solid #fff;
    font-size: 1em;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}

.flatbutton input[type=submit]:hover {
    background: #999;
    cursor: pointer;
}

#currently {
    word-wrap: break-word;
    color: #666;
    margin: 4px 8px 0 12px;
    padding: 2px 0;
    text-align: left;
    width: 370px;
    float: left;
    overflow: hidden;
}

#latest_text {
    cursor: pointer;
}

#latest_text_full {
    display: none;
    cursor: pointer;
}

body#favourings .tab, body#home .tab, body#profile .tab, body.status .tab, body#users .tab {
    background: #fff;
    padding: 0;
    border-top: 0;
    margin: -1px 10px;
}

#content.wide {
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tab {
    background: #fff;
    padding: 10px 0;
    border-top: 1px solid #cecece;
    margin: -1px 10px;
}

#content h2.timeline-header {
    margin-bottom: 0;
}

#content h3.timeline-subheader {
    margin: 0 0 1em 0;
    font-size: 1em;
    font-weight: normal;
}

#content h2.thumb {
    font-size: 2.8em;
}

#content h2.thumb img {
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #999;
}

.doing .thumb {
    padding: 10px 5px 8px 5px;
    width: 50px;
    vertical-align: top;
}

.doing td {
    border-bottom: 1px dashed #d2dada;
    vertical-align: middle;
}

.join {
    text-align: center;
}

.join input {
    background-color: #417596;
    color: white;
    font-size: 11pt;
    padding: .3em 2.5em;
    font-weight: bold;
    border: 1px solid black;
}

.join input:hover {
    background-color: #294B60;
}

#side p.complete {
    font-size: .9em;
    margin-top: 1em;
}

#lang-select {
    text-align: center;
}

.promo {
    border: 1px solid #87bc44;
    background: #fff;
    padding: 10px 0 10px 5px;
    margin-top: 8px;
    font-size: 1em;
}

.promo li {
    margin: 0 0 8px;
}

.promo a {
    text-decoration: none;
}

.promo img {
    vertical-align: middle;
}

.badgebox {
    background: #ffc;
    border: 1px solid #ff0;
    padding: 5px;
    font-size: .8em;
    text-align: center;
    margin: 10px 0;
}

.promobox {
    background: #fff;
    border: 1px solid #ff0;
    padding: 5px;
    font-size: .8em;
    text-align: center;
    margin-top: 10px;
}

.note {
    background: #fff;
    font-size: .95em;
    padding: 3px;
    border: 1px dashed #aaa;
}

.note strong {
    color: red;
}

.note li+li {
    border-top: 1px solid #ccc;
    padding-top: 4px;
}

.note a {
    text-decoration: underline;
}

#went-protected-notice {
    background: #FF9;
    border: 1px solid #FCFC19;
    padding: 0 0 0 10px;
    line-height: 1;
}

#went-protected-notice .sub-h1 {
    font-size: 1.2em;
}

#went-protected-notice table td {
    padding: 10px;
}

#container #flash .content-bubble-arrow {
    margin-top: 0;
}

#flash .desc {
    margin-bottom: 9px;
}

#flash .desc p {
    display: block;
    background-color: #fff;
    font-size: 2.12em;
    line-height: 1.2em;
    padding: 7px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.alert-box {
    background: #FF7B6D;
    padding: 10px;
    border: solid 1px #F00;
    color: #000;
    line-height: 1.7em;
    font-size: .9em;
    margin-bottom: 4px;
}

.yellow-box {
    background: #FEF6A8;
    margin: 5px 0 10px 0;
    padding: 5px;
    border: solid 1px #FFFA00;
    color: #000;
    line-height: 1.7em;
    font-size: .9em;
    text-align: center;
}

#top_alert {
    background: #fff;
    border: 0;
    color: #333;
    padding: 3px;
    margin: 0 10px;
    text-align: center;
    font-size: 90%;
}

#admin_side {
    background: #f9f6ba;
    font-size: .9em;
    padding: 0;
    margin: 10px;
    border: 1px solid #c9c69a;
    line-height: 1.4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#admin_side .admin {
    margin: 10px 10px;
}

body#profile tr.latest-status td {
    padding: 1em 0;
    line-height: 1.5em;
}

body#profile tr.latest-status td span.entry-content {
    font-size: 1.77em;
}

body#profile tr.latest-status td span.entry-meta {
    display: block;
}

body#profile tr.latest-status:hover {
    background-color: #fff;
}

body#profile .hentry td.status-body div {
    width: 485px;
}

body#profile #timeline {
    border-top-width: 0;
}

body#profile .profile-head {
    margin: 1px 10px;
}

body#profile #content h2.thumb {
    font-size: 2.8em;
    line-height: 50px;
    padding: 20px 15px 0 0;
}

body#profile #content h2.thumb img {
    float: left;
    margin-bottom: 5px;
}

body#profile h2.thumb div#follow-details img#x {
    float: right;
    margin: 3px 0 0 0;
    cursor: pointer;
    border: none;
}

div#follow-control {
    margin: 5px 0 0 15px;
}

div#follow-details {
    background: #F9FDAB;
    margin: 5px 0 10px 0;
    padding: 5px 10px 10px 10px;
    border: solid 1px #FDCC68;
    color: #000;
    line-height: 1.7em;
    display: none;
    font-size: .9em;
}

div#follow-flash {
    background: #F9FDAB;
    border: solid 1px #FDCC68;
    font-size: .9em;
    color: #000;
    line-height: 1.75em;
    margin: 5px 0;
    font-weight: bold;
    padding: 5px;
}

div#follow-details p {
    margin-top: 10px;
}

div#follow_actions {
    margin-top: 10px;
}

div#follow-actions #onoff {
    margin-left: 10px;
}

div#follow-details strong {
    display: inline;
    font-size: 120%;
}

div#follow-details div#notifications {
    margin-top: 10px;
}

div#follow-toggle {
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 2% 50%;
    padding: 5px 5px 5px 20px;
    border: 1px solid #CCC;
}

div#followed {
    background-color: #e6e6e6;
    border: 1px solid #D1D1D1;
}

div.med-btn {
    background: #e6e6e6;
    width: 75px;
    height: 18px;
    padding: 1px 3px 1px 21px;
    font-size: 11px;
    vertical-align: middle;
    color: #000;
    cursor: pointer;
}

.follow-button button, .follow-button input[type=submit], input[type=button].follow-button {
    background-color: #808080;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid black;
    height: 30px;
    width: 75px;
    cursor: pointer;
}

.remove-button button, .remove-button input[type=submit], input[type=button].remove-button {
    background-color: #E6E6E6;
    color: #000;
    font-size: 1em;
    width: 75px;
    cursor: pointer;
    margin-left: 3px;
}

input.update-button, .update-button button, .update-button input[type=submit], input[type=button].update-button {
    background-color: #808080;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
}

#profile .name-box {
    padding-top: 2px;
}

#profile .name-box .name {
    font-size: 3.0em;
    line-height: 1;
    text-decoration: none;
    font-weight: bold;
}

#profile .name-box .screen-name {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 2px;
}

#profile .protected-box {
    background: #FEF6A8;
    border: 1px solid #FCFC19;
    padding: 0 0 0 10px;
    line-height: 1;
}

#profile .protected-box .sub-h1 {
    font-size: 1.2em;
}

#profile .protected-box table td {
    padding: 10px;
}

#profile .protected-box .logged-out {
    padding: 10px;
}

#navigationunauth {
    position: absolute;
    background: #fff;
    top: 24px;
    right: 0;
    padding: 6px 10px 6px 5px;
    line-height: 1.5em;
    text-align: right;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.direct_messages .bar h3 {
    padding: 4px 4px;
}

.direct_messages .bar h3 select {
    width: 13em;
}

.subpage #content ul {
    padding-left: 0;
}

#content .tabMenu {
    text-align: center;
    margin: 25px 0 0;
}

#content .tabMenu li {
    display: inline;
    margin-left: -5px;
}

#content .tabMenu li a {
    display: inline;
    padding: 3px 20px 1px 20px;
    background: #e6e6e6;
    text-decoration: none;
    color: #4c4c4c;
    border-top: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
}

#content .tabMenu li a:hover {
    text-decoration: none;
    color: black;
    background: #999;
}

#content .tabMenu li.active a {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #fff;
}

.status_activity {
    margin: 4px 0 0 0;
    padding: 10px 0 0 20px;
}

.status_activity .activity {
    margin: 0 0 5px;
}

.status_activity .content {
    vertical-align: top;
    margin: 0 0 0 5px;
    font-size: .8em;
}