.beta {
    font-size: .9em;
    background-color: #f9f6ba;
}

#accessibility, #navigation h3, #footer h3 {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

#container {
    width: 763px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
    position: relative;
}

#loader {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    background: #FFF;
    border: 1px solid #CCC;
    line-height: 0;
}

.columns {
    margin-bottom: 15px;
    width: 100%;
}

td.column {
    padding: 0;
    vertical-align: top;
}

#content {
    width: 564px;
    margin-top: 0;
    word-wrap: break-word;
    background: #FFF;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

fieldset th, td {
    padding: 7px 3px;
}

.wrapper {
    padding: 5px 10px 15px;
}

#doingForm {
    margin-bottom: 20px;
}

.bar {
    line-height: 1.9em;
    position: relative;
    padding: 0 10px;
}

.bar h3 {
    font-size: 1.4em;
}

.bar h3 label {
    font-weight: normal;
    color: #000;
    padding-right: 170px;
    letter-spacing: -1px;
}

.bar span {
    font-size: .92em;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
}

#doingForm .info {
    background: #fff;
    padding-top: 3px;
    text-align: center;
}

#doingForm textarea {
    height: 2.5em;
    width: 508px;
    padding: 5px;
    font: 1.15em / 1.1 'Lucida Grande', sans-serif;
    overflow: auto;
    resize: none;
}

div.direct-message-box fieldset {
    width: 548px;
    padding: 10px 90px;
}

a img, form, fieldset {
    border: 0;
}

fieldset {
    margin: 10px 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5 {
    margin: 3px 0 4px;
}

.doing {
    margin-bottom: 10px;
}

.doing {
    font-size: 1.2em;
    line-height: 1.1;
    width: 50%;
}

.get-started-steps {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.1;
}

.get-started-steps .thumb {
    padding: 10px 5px 8px 5px;
    width: 50px;
    vertical-align: top;
}

.get-started-steps td {
    border-bottom: 1px dashed #d2dada;
    vertical-align: middle;
}

fieldset label {
    white-space: nowrap;
    font-weight: normal;
}

#chars_left_notice {
    color: #ccc;
    font-size: 22pt !important;
}

.numeric {
    font-family: 'Georgia', 'Serif';
}

.status-btn {
    float: right;
    padding: 5px 10px 0 5px;
}

#content .disabled {
    color: #bbb;
}

.status-btn input.round-btn {
    width: 115px;
    height: 32px;
    border: 0;
    color: #666;
    font-size: 14px;
    margin-left: 3px;
}

.status-btn input.round-btn:hover {
    width: 115px;
    height: 32px;
    border: 0;
    color: #444;
    font-size: 14px;
    margin-left: 3px;
}

.status-btn input.disabled, .status-btn input.disabled:hover {
    color: #aaa;
    cursor: default;
}

.wrapper input.submit, .wrapper button, .wrapper input[type=button], .wrapper input[type="file"]>input[type="button"] {
    background-color: #E6E6E6;
    border: 1px solid #ccc;
    padding-top: 1px solid #fff;
    font-size: 1em;
    padding: 4px 8px 4px 8px;
}

.wrapper input.submit:hover, .wrapper button:hover, .wrapper input[type=submit]:hover, .wrapper input[type="file"]>input[type="button"]:hover {
    background: #d5d5d5;
    cursor: pointer;
}

.flatbutton button, .flatbutton input[type=submit], input[type=button].flatbutton {
    background-color: #E6E6E6;
    border: 1px solid #ccc;
    padding-top: 1px solid #fff;
    font-size: 1em;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}

.flatbutton input[type=submit]:hover {
    background: #999;
    cursor: pointer;
}

#currently {
    word-wrap: break-word;
    color: #666;
    margin: 4px 8px 0 12px;
    padding: 2px 0;
    text-align: left;
    width: 370px;
    float: left;
    overflow: hidden;
}

#latest_text {
    cursor: pointer;
}

#latest_text_full {
    display: none;
    cursor: pointer;
}

body#favourings .tab, body#home .tab, body#profile .tab, body.status .tab, body#users .tab {
    background: #fff;
    padding: 0;
    border-top: 0;
    margin: -1px 10px;
}

body#home #timeline, body.status #timeline {
    border-top: 1px dashed #d2dada;
}

body#profile #timeline, body#favourings #timeline {
    border-top: 1px dashed #d2dada;
    margin-top: 10px;
}

#content.wide {
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tab {
    background: #fff;
    padding: 0;
    border-top: 1px solid #cecece;
    margin: -1px 10px;
}

body#home #timeline {
    border-top: 1px dashed #d2dada;
}

#content h2.timeline-header {
    margin-bottom: 0;
}

#content h3.timeline-subheader {
    margin: 0 0 1em 0;
    font-size: 1em;
    font-weight: normal;
}

#content h2.thumb {
    font-size: 2.8em;
}

#content h2.thumb img {
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #999;
}

.doing .thumb {
    padding: 10px 5px 8px 5px;
    width: 50px;
    vertical-align: top;
}

.doing td {
    border-bottom: 1px dashed #d2dada;
    vertical-align: middle;
}

.bottom_nav {
    padding: 0;
    margin-top: 20px;
    float: none;
    clear: both;
}

.pagination {
    float: right;
}

.pagination ul {
    padding: 0;
    margin: 0;
}

.pagination li {
    float: left;
    padding: 0 7px;
}

#content .section_links {
    border: 1px solid #cecece;
    padding: 4px 15px;
    margin: 5px 0;
}

.clear {
    clear: both;
}

#side_base {
    border-left: 1px solid #bddcad;
    width: 199px;
    line-height: 1.2;
    background-color: #dfc;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#side_ad_base {
    height: 185px;
    text-align: center;
    padding-top: 5px;
}

#side {
    margin-bottom: 10px;
}

.subpage #side {
    margin-top: 0;
}

#side_base div.section {
    padding: 13px 13px 16px;
}

div.section-header {
    margin: 10px 0 5px 0;
}

div.section-header h1 {
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
    padding: 0 0 2px;
}

.notify {
    text-align: center;
    line-height: 1;
    padding: 5px 0;
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 8px;
}

.notify div {
    background-color: #fff;
    font-size: .9em;
    margin: 0 12px 0 24px;
    padding: 10px 3px;
    border: 1px solid #888;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.actions {
    border: 1px solid #87bc44;
    margin: 10px -3px;
}

.actions small {
    font-size: .9em;
}

.actions a {
    padding-left: 7px;
}

div.user_icon {
    padding-bottom: 10px;
}

div.user_icon img {
    float: left;
    padding-right: .8em;
}

.side_thumb {
    height: 31px;
    width: 31px;
}

#me_name {
    font-size: 1.35em;
    line-height: 30px;
    margin-right: -10px;
}

#side table.stats {
    margin: 5px 0 10px 0;
}

#side table.stats td {
    padding: 0 7px 0 0;
}

#side table.stats td a {
    text-decoration: none;
}

#side table.stats td a:hover .label {
    text-decoration: underline;
}

#side table.stats td+td {
    padding: 0 7px;
    border-left: solid 1px #bddcad;
    border-right: solid 1px #bddcad;
}

#side table.stats td+td+td {
    border: 0;
}

#side table.stats td .numeric {
    font-size: 1.3em;
    font-family: georgia;
    text-decoration: none;
}

#side table.stats td .label {
    text-transform: lowercase;
    font-size: .9em;
}

.promotion {
    color: #000;
    border: 1px solid #BDDCAD;
    text-align: left;
    font-size: 11px;
    margin-top: 7px;
    padding: 6px 10px;
    width: 152px;
}

#side ul {
    margin: 0;
}

ul#tabMenu li {
    display: block;
    border-top: 1px solid #bddcad;
    width: 100%;
}

ul#tabMenu a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
    font-size: 110%;
}

body#home ul#tabMenu a#home_tab, body#profile ul#tabMenu a#updates_tab, body#replies ul#tabMenu a#replies_tab, body.direct_messages ul#tabMenu a#direct_messages_tab, body#favourings ul#tabMenu a#favorites_tab, body#public_timeline ul#tabMenu a#public_timeline_tab {
    background: #fff;
    margin-left: -1px;
    padding-left: 14px;
}

ul#tabMenu a#user_search_tab {
    display: block;
    padding: 10px;
}

.disabled-search-text {
    border: 1px solid #777;
    height: 16px;
    width: 95px;
    color: #666;
    background-color: #EEE ß;
    padding: 2px 2px 1px 2px;
}

.stat_count {
    float: right;
    font-weight: bold;
}

#side div.last {
    border-top: 1px solid #bddcad;
}

div.section-header#people {
    margin-top: 0;
}

#side .section-links {
    float: right;
    font-size: .9em;
    text-align: right;
}

#friends {
    padding: 0 0 0 3px;
    overflow: hidden;
}

#friends span {
    float: left;
    padding: 0 3px 2px 1px;
}

#friends img {
    padding: 0;
}

#friends_view_all {
    font-size: .9em;
    padding: 0 0 0 4px;
}

#device_control label {
    margin-right: 5px;
}

#device_control #device_msg {
    font-size: 80%;
    margin-top: -5px;
    margin-bottom: 0;
}

.join {
    text-align: center;
}

.join input {
    background-color: #417596;
    color: white;
    font-size: 11pt;
    padding: .3em 2.5em;
    font-weight: bold;
    border: 1px solid black;
}

.join input:hover {
    background-color: #294B60;
}

#side p.complete {
    font-size: .9em;
    margin-top: 1em;
}

#lang-select {
    text-align: center;
}

.promo {
    border: 1px solid #87bc44;
    background: #fff;
    padding: 10px 0 10px 5px;
    margin-top: 8px;
    font-size: 1em;
}

.promo li {
    margin: 0 0 8px;
}

.promo a {
    text-decoration: none;
}

.promo img {
    vertical-align: middle;
}

.badgebox {
    background: #ffc;
    border: 1px solid #ff0;
    padding: 5px;
    font-size: .8em;
    text-align: center;
    margin: 10px 0;
}

.promobox {
    background: #fff;
    border: 1px solid #ff0;
    padding: 5px;
    font-size: .8em;
    text-align: center;
    margin-top: 10px;
}

.note {
    background: #fff;
    font-size: .95em;
    padding: 3px;
    border: 1px dashed #aaa;
}

.note strong {
    color: red;
}

.note li+li {
    border-top: 1px solid #ccc;
    padding-top: 4px;
}

.note a {
    text-decoration: underline;
}

.about li {
    padding-bottom: 3px;
}

.about .label {
    font-weight: bold;
}

#footer {
    clear: left;
    text-align: center;
    padding: 8px 0;
    line-height: 1;
}

#footer li {
    display: inline;
    padding: 0 4px;
}

#footer li.first:before {
    content: '';
    padding-right: 0;
}

#navigation, #footer {
    background: #fff;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}

#navigation {
    position: absolute;
    top: 24px;
    right: 0;
    padding: 8px 10px 8px 5px;
    line-height: 1.0em;
    text-align: right;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 105%;
}

#navigation ul {
    padding-top: 0;
}

#navigation li {
    display: inline;
    padding: 0 0 0 9px;
}

#navigation li:before {
    content: ' ';
    padding-right: 0;
}

#navigation li.first:before {
    content: '';
    padding-right: 0;
}

#went-protected-notice {
    background: #FF9;
    border: 1px solid #FCFC19;
    padding: 0 0 0 10px;
    line-height: 1;
}

#went-protected-notice .sub-h1 {
    font-size: 1.2em;
}

#went-protected-notice table td {
    padding: 10px;
}

#container #flash .content-bubble-arrow {
    margin-top: 0;
}

#flash .desc {
    margin-bottom: 9px;
}

#flash .desc p {
    display: block;
    background-color: #fff;
    font-size: 2.12em;
    line-height: 1.2em;
    padding: 7px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#flash .thumb {
    padding-left: 24px;
}

.alert-box {
    background: #FF7B6D;
    padding: 10px;
    border: solid 1px #F00;
    color: #000;
    line-height: 1.7em;
    font-size: .9em;
    margin-bottom: 4px;
}

.yellow-box {
    background: #FEF6A8;
    margin: 5px 0 10px 0;
    padding: 5px;
    border: solid 1px #FFFA00;
    color: #000;
    line-height: 1.7em;
    font-size: .9em;
    text-align: center;
}

#top_alert {
    background: #fff;
    border: 0;
    color: #333;
    padding: 3px;
    margin: 0 10px;
    text-align: center;
    font-size: 90%;
}

#admin_side {
    background: #f9f6ba;
    font-size: .9em;
    padding: 0;
    margin: 10px;
    border: 1px solid #c9c69a;
    line-height: 1.4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#admin_side .admin {
    margin: 10px 10px;
}

body#profile tr.latest-status td {
    padding: 1em 0;
    line-height: 1.5em;
}

body#profile tr.latest-status td span.entry-content {
    font-size: 1.77em;
}

body#profile tr.latest-status td span.entry-meta {
    display: block;
}

body#profile tr.latest-status:hover {
    background-color: #fff;
}

body#profile .hentry td.status-body div {
    width: 485px;
}

body#profile #timeline {
    border-top-width: 0;
}

body#profile .profile-head {
    margin: 1px 10px;
}

body#profile #content h2.thumb {
    font-size: 2.8em;
    line-height: 50px;
    padding: 20px 15px 0 0;
    margin-bottom: 0;
}

body#profile #content h2.thumb img {
    float: left;
    margin-bottom: 5px;
    margin-top: -10px;
}

body#profile h2.thumb div#follow-details img#x {
    float: right;
    margin: 3px 0 0 0;
    cursor: pointer;
    border: none;
}

div#follow-control {
    margin: 5px 0 0 15px;
}

div#follow-details {
    background: #F9FDAB;
    margin: 5px 0 10px 0;
    padding: 5px 10px 10px 10px;
    border: solid 1px #FDCC68;
    color: #000;
    line-height: 1.7em;
    display: none;
    font-size: .9em;
}

div#follow-flash {
    background: #F9FDAB;
    border: solid 1px #FDCC68;
    font-size: .9em;
    color: #000;
    line-height: 1.75em;
    margin: 5px 0;
    font-weight: bold;
    padding: 5px;
}

div#follow-details p {
    margin-top: 10px;
}

div#follow_actions {
    margin-top: 10px;
}

div#follow-actions #onoff {
    margin-left: 10px;
}

div#follow-details strong {
    display: inline;
    font-size: 120%;
}

div#follow-details div#notifications {
    margin-top: 10px;
}

div#follow-toggle {
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 2% 50%;
    padding: 5px 5px 5px 20px;
    border: 1px solid #CCC;
}

div#followed {
    background-color: #e6e6e6;
    border: 1px solid #D1D1D1;
}

div.med-btn {
    background: #e6e6e6;
    width: 75px;
    height: 18px;
    padding: 1px 3px 1px 21px;
    font-size: 11px;
    vertical-align: middle;
    color: #000;
    cursor: pointer;
}

.follow-button button, .follow-button input[type=submit], input[type=button].follow-button {
    background-color: #808080;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid black;
    height: 30px;
    width: 75px;
    cursor: pointer;
}

.remove-button button, .remove-button input[type=submit], input[type=button].remove-button {
    background-color: #E6E6E6;
    color: #000;
    font-size: 1em;
    width: 75px;
    cursor: pointer;
    margin-left: 3px;
}

input.update-button, .update-button button, .update-button input[type=submit], input[type=button].update-button {
    background-color: #808080;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
}

#profile .name-box {
    padding-top: 2px;
}

#profile .name-box .name {
    font-size: 3.0em;
    line-height: 1;
    text-decoration: none;
    font-weight: bold;
}

#profile .name-box .screen-name {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 2px;
}

#profile .protected-box {
    background: #FEF6A8;
    border: 1px solid #FCFC19;
    padding: 0 0 0 10px;
    line-height: 1;
}

#profile .protected-box .sub-h1 {
    font-size: 1.2em;
}

#profile .protected-box table td {
    padding: 10px;
}

#profile .protected-box .logged-out {
    padding: 10px;
}

#navigationunauth {
    position: absolute;
    background: #fff;
    top: 24px;
    right: 0;
    padding: 6px 10px 6px 5px;
    line-height: 1.5em;
    text-align: right;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div#profilebird {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 48px;
    clear: both;
}

div#profilebox {
    width: 741px;
    background: #feffdf;
    border: 1px solid #ff0;
    padding: 5px 10px 10px 10px;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 10px;
}

div#profiletext {
    float: left;
    width: 480px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#profilebutton {
    float: left;
    text-align: center;
    width: 175px;
    margin-left: 50px;
}

div#profilebutton small {
    line-height: 8px;
}

input.profilesubmit {
    background-color: #74CA00;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding: 10px;
    border: 1px solid #0f0;
    width: 175px;
    cursor: hand;
}

input.profilesubmit:hover {
    background-color: #8CF500;
}

.direct_messages .bar h3 {
    padding: 4px 4px;
}

.direct_messages .bar h3 select {
    width: 13em;
}

.subpage #content ul {
    padding-left: 0;
}

#content .tabMenu {
    text-align: center;
    margin: 25px 0 0;
}

#content .tabMenu li {
    display: inline;
    margin-left: -5px;
}

#content .tabMenu li a {
    display: inline;
    padding: 3px 20px 1px 20px;
    background: #e6e6e6;
    text-decoration: none;
    color: #4c4c4c;
    border-top: 1px solid #cecece;
    border-right: 1px solid #cecece;
    border-left: 1px solid #cecece;
}

#content .tabMenu li a:hover {
    text-decoration: none;
    color: black;
    background: #999;
}

#content .tabMenu li.active a {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #fff;
}

.status_activity {
    margin: 4px 0 0 0;
    padding: 10px 0 0 20px;
}

.status_activity .activity {
    margin: 0 0 5px;
}

.status_activity .content {
    vertical-align: top;
    margin: 0 0 0 5px;
    font-size: .8em;
}

#admin_dialog {
    display: none;
}

#admin_dialog input[type="text"] {
    border: 1px solid #777;
    color: #777;
    height: 16px;
    padding: 2px 2px 1px;
}

#admin_dialog table td {
    text-align: right;
}