<span class="vcard">
  <a href="/<%= h friend.username %>" class="url" rel="contact" title="<%= h friend.name %>"><img alt="<%= h friend.name %>" class="photo fn" height="24" src="<%= friend.web_profile_url %>" width="24"/></a>
</span>
