<% setup(:title=>"People #{@duser.username} follows", :body_id=>"followers", :body_classes=>['friends'], :css=>['screen']) %>

<h2><%= h @duser.name %> follows <%= @duser.friends_count %> people.</h2>

<table class="doing" cellspacing="0">
      <%= render :partial=>'user/user', :collection=>@users %>
</table>
