<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Twetter</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Phil Oye">
	<!-- Date: 2008-06-21 -->
	<%= stylesheet_link_tag 'twetter' %>
	<link rel="icon" type="image/gif" href="favicon.gif" />
</head>
<body>
<div id="container">
	<div id="header">
		<h1>Twetter</h1>
		<p>Mac nerds get <a href="twitterrific3.zip">Twitterific</a>
 	</div>
	<div id="content">
		<%= yield %>
	</div>
</div>
</body>
</html>
